.note{
    width: 260px;
    height: 35px;
    box-shadow: 0 0 1px 1px $gray-200;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
}

.note__heading-edit{
    width: 260px;
    height: 35px;
    padding: .8rem 1rem 1rem;

}
.note__heading-edit:hover{
    background-color: $gray-200;
    cursor: pointer;
}