// Scroll Bar sizes.
$scroll-bar-size: 8px;

// Typography.
$body-txt-1: 1.8rem;
$body-txt-2: 1.6rem;
$body-txt-3: 1.4rem;
$body-txt-4: 1.2rem;
$body-txt-5: 1rem;

$header-txt-1: 2.8rem;
$header-txt-2: 2.6rem;
$header-txt-3: 2.4rem;
$header-txt-4: 2.2rem;
$header-txt-5: 2rem;

$bold-txt: 700;