// Regular.
.body-txt-1 {
    font-size: $body-txt-1;
    font-style: 'Questrial', sans-serif;
    font-weight: 300;
  }
  
  .body-txt-2 {
    font-size: $body-txt-2;
    font-style: 'Questrial', sans-serif;
    font-weight: 300;
  }
  
  .body-txt-3 {
    font-size: $body-txt-3;
    font-style: 'Questrial', sans-serif;
    font-weight: 300;
  }
  
  .body-txt-4 {
    font-size: $body-txt-4;
    font-style: 'Questrial', sans-serif;
    font-weight: 300;
  }
  
  .header-txt-1 {
    font-size: $header-txt-1;
  }
  
  .header-txt-2 {
    font-size: $header-txt-2;
  }
  
  .header-txt-3 {
    font-size: $header-txt-3;
  }
  
  .header-txt-4 {
    font-size: $header-txt-4;
  }
  
  .header-txt-5 {
    font-size: $header-txt-5;
  }
  
  // Bold.
  .bold-txt {
    font-weight: 700;
  }
  
  .semi-bold {
    font-weight: 500;
  }
  